## ✅ 2. Data Cleaning & Preprocessing
This step includes:

1. Data Loading
2. Missing Values
3. Data Type Conversion
4. Outlier Treatment
5. Working with Categorical Features
6. Feature Engineering

### 2.1. Data Loading

Dataset: Credit Card User Behaviour Dataset
After loading the data, a primary check of the table structure was performed: number of rows, columns, data types, basic statistics.

In [2]:
import pandas as pd
import numpy as np

# --- 2.1. loading data ---
df = pd.read_csv("raw_data.csv")

# --- BASIC OVERVIEW ---
print(df.shape)

(10127, 23)

In [3]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 23 columns):
 #   Column                                                                                                                              Non-Null Count  Dtype
---  ------                                                                                                                              --------------  -----
 0   CLIENTNUM                                                                                                                           10127 non-null  int64
 1   Attrition_Flag                                                                                                                      10127 non-null  object
 2   Customer_Age                                                                                                                        10127 non-null  int64
 3   Gender                                                                                                                              10127 non-null  object
 4   Dependent_count                                                                                                                     10127 non-null  int64
 5   Education_Level                                                                                                                     10127 non-null  object
 6   Marital_Status                                                                                                                      10127 non-null  object
 7   Income_Category                                                                                                                     10127 non-null  object
 8   Card_Category                                                                                                                       10127 non-null  object
 9   Months_on_book                                                                                                                      10127 non-null  int64
 10  Total_Relationship_Count                                                                                                            10127 non-null  int64
 11  Months_Inactive_12_mon                                                                                                              10127 non-null  int64
 12  Contacts_Count_12_mon                                                                                                               10127 non-null  int64
 13  Credit_Limit                                                                                                                        10127 non-null  float64
 14  Total_Revolving_Bal                                                                                                                 10127 non-null  int64
 15  Avg_Open_To_Buy                                                                                                                     10127 non-null  float64
 16  Total_Amt_Chng_Q4_Q1                                                                                                                10127 non-null  float64
 17  Total_Trans_Amt                                                                                                                     10127 non-null  int64
 18  Total_Trans_Ct                                                                                                                      10127 non-null  int64
 19  Total_Ct_Chng_Q4_Q1                                                                                                                 10127 non-null  float64
 20  Avg_Utilization_Ratio                                                                                                               10127 non-null  float64
 21  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1  10127 non-null  float64
 22  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2  10127 non-null  float64
dtypes: float64(7), int64(10), object(6)
memory usage: 1.8+ MB
None

In [4]:
print(df.head())

   CLIENTNUM     Attrition_Flag  Customer_Age Gender  Dependent_count  \
0  768805383  Existing Customer            45      M                3
1  818770008  Existing Customer            49      F                5
2  713982108  Existing Customer            51      M                3
3  769911858  Existing Customer            40      F                4
4  709106358  Existing Customer            40      M                3

  Education_Level Marital_Status Income_Category Card_Category  \
0     High School        Married     $60K - $80K          Blue
1        Graduate         Single  Less than $40K          Blue
2        Graduate        Married    $80K - $120K          Blue
3     High School        Unknown  Less than $40K          Blue
4      Uneducated        Married     $60K - $80K          Blue

   Months_on_book  ...  Credit_Limit  Total_Revolving_Bal  Avg_Open_To_Buy  \
0              39  ...       12691.0                  777          11914.0
1              44  ...        8256.0                  864           7392.0
2              36  ...        3418.0                    0           3418.0
3              34  ...        3313.0                 2517            796.0
4              21  ...        4716.0                    0           4716.0

   Total_Amt_Chng_Q4_Q1  Total_Trans_Amt  Total_Trans_Ct  Total_Ct_Chng_Q4_Q1  \
0                 1.335             1144              42                1.625
1                 1.541             1291              33                3.714
2                 2.594             1887              20                2.333
3                 1.405             1171              20                2.333
4                 2.175              816              28                2.500

   Avg_Utilization_Ratio  \
0                  0.061
1                  0.105
2                  0.000
3                  0.760
4                  0.000

   Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1  \
0                                           0.000093
1                                           0.000057
2                                           0.000021
3                                           0.000134
4                                           0.000022

   Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0                                            0.99991
1                                            0.99994
2                                            0.99998
3                                            0.99987
4                                            0.99998

[5 rows x 23 columns]

In [5]:
df.rename(columns={
    'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1': 'NB_Attr1',
    'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2': 'NB_Attr2'
}, inplace=True)

In [6]:
df.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,NB_Attr1,NB_Attr2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

### 2.2. Missing Values

A check for missing values ​​was performed for each feature.
Goal: Determine which columns require filling, deletion, or transformation.
- If the missing value percentage is <5%, they are filled (e.g., with the median/mode).
- If the missing value percentage is >30%, feature deletion or simplification is possible.
- For categorical columns, mode or "Unknown" filling is used.

In [7]:
# --- 2.2. MISSING VALUES ---
missing = df.isnull().sum()
print("Missing values:\n", missing)

# Fill small % missing values
for col in df.columns:
    if df[col].dtype == 'object':
        df[col].fillna(value={col: df[col].mode()[0]}, inplace=True)
        # df[col].fillna(df[col].mode()[0], inplace=True)
    else:
        df[col].fillna(value={col: df[col].median()}, inplace=True)
        # df[col].fillna(df[col].median(), inplace=True)

Missing values:
 CLIENTNUM                   0
Attrition_Flag              0
Customer_Age                0
Gender                      0
Dependent_count             0
Education_Level             0
Marital_Status              0
Income_Category             0
Card_Category               0
Months_on_book              0
Total_Relationship_Count    0
Months_Inactive_12_mon      0
Contacts_Count_12_mon       0
Credit_Limit                0
Total_Revolving_Bal         0
Avg_Open_To_Buy             0
Total_Amt_Chng_Q4_Q1        0
Total_Trans_Amt             0
Total_Trans_Ct              0
Total_Ct_Chng_Q4_Q1         0
Avg_Utilization_Ratio       0
NB_Attr1                    0
NB_Attr2                    0
dtype: int64

/var/folders/6b/bn6flyvs6yq7n2d128fxvg780000gp/T/ipykernel_78495/2116043229.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(value={col: df[col].median()}, inplace=True)
/var/folders/6b/bn6flyvs6yq7n2d128fxvg780000gp/T/ipykernel_78495/2116043229.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(value={col: df[col].mode()[0]}, inplace=True)
/var/folders/6b/bn6flyvs6yq7n2d128fxvg780000gp/T/ipykernel_78495/2116043229.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(value={col: df[col].median()}, inplace=True)
/var/folders/6b/bn6flyvs6yq7n2d128fxvg780000gp/T/ipykernel_78495/2116043229.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(value={col: df[col].mode()[0]}, inplace=True)
/var/folders/6b/bn6flyvs6yq7n2d128fxvg780000gp/T/ipykernel_78495/2116043229.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(value={col: df[col].median()}, inplace=True)
/var/folders/6b/bn6flyvs6yq7n2d128fxvg780000gp/T/ipykernel_78495/2116043229.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(value={col: df[col].mode()[0]}, inplace=True)
/var/folders/6b/bn6flyvs6yq7n2d128fxvg780000gp/T/ipykernel_78495/2116043229.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(value={col: df[col].mode()[0]}, inplace=True)
/var/folders/6b/bn6flyvs6yq7n2d128fxvg780000gp/T/ipykernel_78495/2116043229.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(value={col: df[col].mode()[0]}, inplace=True)
/var/folders/6b/bn6flyvs6yq7n2d128fxvg780000gp/T/ipykernel_78495/2116043229.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(value={col: df[col].mode()[0]}, inplace=True)
/var/folders/6b/bn6flyvs6yq7n2d128fxvg780000gp/T/ipykernel_78495/2116043229.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(value={col: df[col].median()}, inplace=True)
/var/folders/6b/bn6flyvs6yq7n2d128fxvg780000gp/T/ipykernel_78495/2116043229.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(value={col: df[col].median()}, inplace=True)
/var/folders/6b/bn6flyvs6yq7n2d128fxvg780000gp/T/ipykernel_78495/2116043229.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(value={col: df[col].median()}, inplace=True)
/var/folders/6b/bn6flyvs6yq7n2d128fxvg780000gp/T/ipykernel_78495/2116043229.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(value={col: df[col].median()}, inplace=True)
/var/folders/6b/bn6flyvs6yq7n2d128fxvg780000gp/T/ipykernel_78495/2116043229.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(value={col: df[col].median()}, inplace=True)
/var/folders/6b/bn6flyvs6yq7n2d128fxvg780000gp/T/ipykernel_78495/2116043229.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(value={col: df[col].median()}, inplace=True)
/var/folders/6b/bn6flyvs6yq7n2d128fxvg780000gp/T/ipykernel_78495/2116043229.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(value={col: df[col].median()}, inplace=True)
/var/folders/6b/bn6flyvs6yq7n2d128fxvg780000gp/T/ipykernel_78495/2116043229.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(value={col: df[col].median()}, inplace=True)
/var/folders/6b/bn6flyvs6yq7n2d128fxvg780000gp/T/ipykernel_78495/2116043229.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(value={col: df[col].median()}, inplace=True)
/var/folders/6b/bn6flyvs6yq7n2d128fxvg780000gp/T/ipykernel_78495/2116043229.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(value={col: df[col].median()}, inplace=True)
/var/folders/6b/bn6flyvs6yq7n2d128fxvg780000gp/T/ipykernel_78495/2116043229.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(value={col: df[col].median()}, inplace=True)
/var/folders/6b/bn6flyvs6yq7n2d128fxvg780000gp/T/ipykernel_78495/2116043229.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(value={col: df[col].median()}, inplace=True)
/var/folders/6b/bn6flyvs6yq7n2d128fxvg780000gp/T/ipykernel_78495/2116043229.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(value={col: df[col].median()}, inplace=True)
/var/folders/6b/bn6flyvs6yq7n2d128fxvg780000gp/T/ipykernel_78495/2116043229.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(value={col: df[col].median()}, inplace=True)

### 2.3. Data Type Conversion

Some variables can be represented as objects (strings), although they are essentially categorical or numeric.

Typical conversions:
- Converting numeric values ​​(income, balance, transactions) to float - arleady exist;
- Converting categories to categories;
- Converting binary features to 0/1.

This affects the correctness of the EDA and optimizes memory.

In [8]:
# --- 2.3. CONVERT TYPES ---
# Convert categorical columns to "category"
cat_cols = ['Gender','Education_Level','Income_Category','Marital_Status',
            'Card_Category','Attrition_Flag']
for col in cat_cols:
    df[col] = df[col].astype('category')

# ----- REMOVE LOGICALLY WRONG VALUES -----
df = df[df['Total_Trans_Amt'] >= 0]
df = df[df['Total_Revolving_Bal'] >= 0]

### 2.4. Outlier Treatment

Financial indicators (Credit Limit, Total Revolving Balance, Transaction Amount) have long-tailed distributions.

The following methods are used:
- IQR (interquartile range) for identifying outliers;
- Visualization (boxplot);
- If necessary, winsorization (cutoff at the 1st–99th percentile).

Outliers are not blindly removed → they may be characteristic of credit behavior.
Only illogical values ​​(e.g., negative balance) are removed.

In [ ]:

# --- OUTLIERS ---
# Winsorization at 1% and 99%
num_cols = df.select_dtypes(include=['int64','float64']).columns
for col in num_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR

    outliers = df[(df[col] < lower) | (df[col] > upper)]
    print(f"{col}: {len(outliers)} outliers")

CLIENTNUM: 0 outliers
Customer_Age: 2 outliers
Dependent_count: 0 outliers
Months_on_book: 386 outliers
Total_Relationship_Count: 0 outliers
Months_Inactive_12_mon: 331 outliers
Contacts_Count_12_mon: 629 outliers
Credit_Limit: 984 outliers
Total_Revolving_Bal: 0 outliers
Avg_Open_To_Buy: 963 outliers
Total_Amt_Chng_Q4_Q1: 396 outliers
Total_Trans_Amt: 896 outliers
Total_Trans_Ct: 2 outliers
Total_Ct_Chng_Q4_Q1: 394 outliers
Avg_Utilization_Ratio: 0 outliers
NB_Attr1: 1691 outliers
NB_Attr2: 1688 outliers

### 2.5. Working with Categorical Features

Categorical variables:

- Gender
- Education Level
- Income Category
- Marital Status
- Card Category
- Attrition_Flag

Encoding strategies:
- Label Encoding — for binary categories (Male/Female, Attrited/Existing)
- One-Hot Encoding — for multi-valued categories
- Ordinal Encoding — if there is a logical order (probably it's not correct to use for Education_Level & Income Category due to Unknown values)

In [10]:
# ----- ENCODING -----
# Binary encoding
df['Attrition_Flag'] = df['Attrition_Flag'].map({'Attrited Customer': 1,
                                                 'Existing Customer': 0})

df['Gender'] = df['Gender'].map({'F':1, 'M':0})

# One-hot encoding 
df = pd.get_dummies(df, columns=[#'Education_Level','Income_Category',
                                 'Marital_Status','Card_Category'], drop_first=True)

# Ordinal Encoding
education_order = [
    'Unknown',
    'Uneducated',
    'High School',
    'College',
    'Graduate',
    'Post-Graduate',
    'Doctorate'
]
income_order = [
    'Unknown',
    'Less than $40K',
    '$40K - $60K',
    '$60K - $80K',
    '$80K - $120K',
    '$120K +'
]

from sklearn.preprocessing import OrdinalEncoder

ord_encoder = OrdinalEncoder(categories=[education_order, income_order])

df[['Education_Level', 'Income_Category']] = ord_encoder.fit_transform(
    df[['Education_Level', 'Income_Category']]
)

### 2.6. Feature Engineering

New features:
- Total_Interaction = Contacts_Count_12_mon + Months_Inactive_12_mon
- Spending_Ratio = Total_Trans_Amt / Credit_Limit
- Transaction_Frequency = Total_Trans_Ct / Months_on_book

These features increase the analytical value of the data & help better explain churn.

In [11]:
# ----- FEATURE ENGINEERING -----
df['Total_Interaction'] = df['Contacts_Count_12_mon'] + df['Months_Inactive_12_mon']
df['Spending_Ratio'] = df['Total_Trans_Amt'] / (df['Credit_Limit'] + 1)
df['Transaction_Frequency'] = df['Total_Trans_Ct'] / (df['Months_on_book'] + 1)

# Final shape
print("Final dataset shape:", df.shape)

df.to_csv("cleaned_credit_card_users.csv", index=False)

Final dataset shape: (10127, 30)

In [12]:
df.to_csv("cleaned_data.csv", index=False)

### 2.7. Final Dataset

After cleaning and transformation, the resulting dataset is structured and suitable for further analysis (EDA).